<!-- Заголовок -->
<div style="text-align:center" class="header">
  <h1>
    Отображение выполненных задач
  </h1>
</div>
<!-- Кнопка загрузки файла -->
<div class="button-div">
    <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input sizing" id="file" accept=".json" (change)="handleFileInput($event.target.files)">
          <label class="custom-file-label sizing" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{fileName}}</label>
        </div>
</div>
<!-- Кнопка очистки списка задач -->
<button on-click="clearTasks()" class="delete-button btn btn-secondary">Очистить список</button>
</div>
<!-- Список задач -->
<div class="list-div">
<mat-list class="task-list">
  <mat-list-item class="z-depth" *ngFor="let task of tasks">
      <h2 mat-line>{{task.kind}}</h2> 
      <h6>{{task.status}}</h6>
      <h4 mat-line>{{task.name}}</h4>
      <h4 mat-line>{{task.answer}}</h4>
  </mat-list-item>
</mat-list>
</div>
